body,
html,
h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-bottom: 20px;
    animation: fadeIn 5s ease-out;
}

footer {
    display: contents;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}